/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Misc */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
ol {
    margin-left: 2rem;

    &.alpha {
        list-style-type: lower-alpha;
    }
}
.content {
    display: none;
}
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
html {
    &.mobile {.desktop {display: none;}}
    &.desktop {.mobile {display: none;}}
}
.ui-loader-default {
    opacity: 0.1;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
