// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* HARBOR / Misc */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.harbor {
    header h1 {
        left: -9999px;
        position: absolute;
    }
}
%cursor {
    content: '»' !important;
    left: -0.75rem;
    position: absolute;
}
.recreation {
    a.rec::before {
        @extend %cursor;
    }
    img.com {
        display: none;
    }
}
.commercial {
    a.com::before {
        @extend %cursor;
    }
    img.rec {
        display: none;
    }
}
ol.alpha {
    list-style-type: lower-alpha;
}

body {
    #Flood {
        background-image: url("../images/bkgr/Brighton-Marina.jpg");
        background-size: cover;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}
.robo {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 90%;
}
html.mobile {
    .desktop {
        display: none;
    }
}
html.desktop {
    .mobile {
        display: none;
    }
}
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
.msie {
    //behavior: url(pie/PIE.htc);
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
