// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* HARBOR / Base */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Arial Narrow";
    height: 100%;
    position: absolute;
    width: 100%;
}
body {
    background-color: $sea;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    text-align: center;
    width: 100%;

    .harbor {
        text-align: left;

        button {
            cursor: pointer;

            &.hover, &:hover {
                border-style: outset;
            }
            &:active {
                border-style: inset;
            }
        }
        div {
            position: relative;
        }
        h1, h2, h3, h4, h5, h6 {
            color: $blu;
            font-weight: 400;
            padding: 0.5rem 0;
        }
        h2, h3 {
            letter-spacing: -1px;
            line-height: 1;
            margin-left: -3px;
        }
        h2 {
            font-size: 3.1em;
        }
        h3 {
            font-size: 2.5em;
        }
        h4, h5 {
            font-weight: 600;
        }
        h4 {
            color: $red;
            font-size: 1.2em;
        }
        h5 {
            font-size: 1em;
            margin-top: 1rem;

            & + p {
                margin-top: 0;
            }
        }
        hr {
            clear: both;
        }
        img {
            @include nosel();
            vertical-align: middle;
        }
        nav {
            font-size: small;

            a {
                text-decoration: none;
            }
        }
        p, li {
            margin: 0.25rem 1rem 0.5rem 0;
        }
        section {
            font-size: medium;
            font-weight: 100;
            padding: 0.5rem 2rem;
            position: relative;
        }
        td img {
            display: inline-block; // fight html5 table looseness
        }
        ul {
            margin-left: 1.5rem;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
