// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* HARBOR / Goog(le) */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#___gcse_0 {
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;

    .gsc-search-button, .gsc-above-wrapper-area, .gsc-cursor-box, .gsst_b {
        display: none;
    }
    .gsc-url-top, .gsc-thumbnail-inside {
        padding: 0;
    }
    .gsc-control-cse {
        background-color: transparent;
        border: 0;
        padding: 0.5em;
    }
    .gsc-results-wrapper-overlay {
        box-sizing: content-box;
        left: 12.5%;
    }
    .gsc-input-box {
        border: 1px solid #eee;
        border-radius: 1rem;
        color: gray;
    }
    .gsc-input {
        color: gray;
        font-size: 1em;
        padding: 0;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
