// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* HARBOR / Head */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.harbor {
    header {
        /* background: rgba(255, 25, 25, 0.3); */
        color: darkblue;
        margin: 0 -1.25rem;
        max-width: 70rem;
        min-width: 57rem;
        position: absolute;
        /* position: fixed; */
        text-align: left;
        top: 2.5rem;
        z-index: 11;

        .msie & { margin-bottom: 3rem; margin-left: 0rem; margin-top: 2rem; }
        h1 {
            left: -9999px;
            position: absolute;
        }
        .logo {
            display: inline-block;
            margin-left: 2rem;
            margin-top: 0.5rem;
            position: absolute;
            z-index: 1;
        }
    }
    &.fixed {
        header {
            @include transition( top 0.25s linear );
            background: url(../images/logos/logo-head.png) no-repeat;
            margin-top: -99px;
            position: fixed;
            top: 99px;
            .msie & { margin-top: 0; top: 0; }

            .logo img {
                visibility: hidden;
            }
        }
    }
    #Programs {
        float: right;
        margin: 3rem 3rem 1rem;

        .msie & { margin-bottom: 3rem; }
        a {
            color: $red;
            line-height: 2;
            margin-left: 1.5rem;
            position: relative;
            text-align: right;
            text-decoration: none;

            &:hover {
                color: $blu;
            }
            &.active:before, &:hover:before {
                color: $blu;
            }
        }
    }

    #___gcse_0 {
        position: absolute;
        right: 2rem;
        top: 1rem;
        width: 33%;

        .gsc-search-button, .gsc-above-wrapper-area, .gsc-cursor-box, .gsst_b {
            display: none;
        }
        .gsc-url-top, .gsc-thumbnail-inside {
            padding: 0;
        }
        .gsc-control-cse {
            background-color: transparent;
            border: 0;
            padding: 0.5em;
        }
        .gsc-results-wrapper-overlay {
            box-sizing: content-box;
            left: 12.5%;
        }
        .gsc-input-box {
            border: 1px solid #eee;
            border-radius: 1rem;
            color: gray;
        }
        .gsc-input {
            color: gray;
            font-size: 1em;
            padding: 0;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
