// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* HARBOR / Head */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.harbor {
    header {
        color: darkblue;
        position: relative;
        width: 100%;
        z-index: 11;

        h1 {
            left: -9999px;
            position: absolute;
        }
    }
    nav#Programs {
        float: right;
        margin: 2.5rem 1rem 0;

        a {
            color: $red;
            line-height: 2;
            margin-left: 1.5rem;
            position: relative;
            text-align: right;
            text-decoration: none;

            &:hover {
                color: $blu;
            }
            &.active::before, &:hover::before {
                color: $blu;
            }
        }
        img {
            display: inline;
            left: 1.6rem;
            margin-left: 3rem;
            position: relative;
            z-index: 1;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
