// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* HARBOR / Head */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.harbor {
    header {
        background: rgba(255, 25, 25, 0.3);
        color: darkblue;
        margin: 0 -1.25rem;
        max-width: 70rem;
        min-width: 57rem;
        position: absolute;
        /* position: fixed!important; */
        text-align: left;
        z-index: 11;

        h1 {
            left: -9999px;
            position: absolute;
        }
        .logo {
            margin-left: 1rem;
            position: relative;
            z-index: 1;
        }
    }

    #Programs {
        float: right;
        margin: 2.5rem 1rem 0;

        a {
            color: $red;
            line-height: 2;
            margin-left: 1.5rem;
            position: relative;
            text-align: right;
            text-decoration: none;

            &:hover {
                color: $blu;
            }
            &.active:before, &:hover:before {
                color: $blu;
            }
        }
        img {
            display: inline;
            left: 1.6rem;
            margin-left: 3rem;
            position: relative;
            z-index: 1;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
