// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* HARBOR / Home */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.home .harbor {
    .slideshow .iS-port {
        height: $show_tall + $show_xtra;

        img {
            top: 0;
        }
    }

    article {
        clear: left;
        float: left;
        font-weight: 400;
        padding-left: 120px;
        padding-right: 1rem;
        width: 48%;

        &:nth-child(odd) {
            clear: none;
            float: right;
        }
        img {
            float: left;
            margin: 0.333rem 1rem 1rem -120px;
        }
        p {
            font-size: small;
        }
        p.jump {
            border-top: 2px solid $red;
            color: $blu;
            font-weight: 600;
            padding-top: 0.5rem;
            text-align: right;

            a {
                color: $blu;
                font-size: 115%;
                text-decoration: none;

                &:hover {
                    color: $red;
                }
            }

        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
