// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* HARBOR / Misc */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
%cursor {
    content: '»' !important;
    left: -0.75rem;
    position: absolute;

    .msie & {
        position: static;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.recreation {
    a.rec:before {
        @extend %cursor;
    }
    img.com {
        display: none;
    }
}
.commercial {
    a.com:before {
        @extend %cursor;
    }
    img.rec {
        display: none;
    }
}
.dropdown + div {
    display: none;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
