// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* HARBOR / Page */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.page .harbor {

    .content {
        h3, h4 {
            text-transform: uppercase;
        }
        .crumbs {
            color: $red;
            font-size: small;
            font-weight: 600;
            padding: 1rem 0;
            text-transform: uppercase;

            a {
                color: $red;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        li.dropdown {
            color: $blu;
        }
        .dropdown {
            cursor: pointer;

            &:after {
                content: '⋁'; // ▿ ▼
                font-size: small;
                letter-spacing: 1px;
                line-height: 0;
                padding-left: 0.25em;
            }
            .msie &.hover { color: gray; }

            &:hover:after {
                color: gray;
                content: ' Show/Hide';
            }
            & + * {
                display: none;
            }

        }
        aside {
            background-color: lighten($sky, 3%);
            border: 2px solid $sky;
            border-radius: 0.5rem 0 0 0.5rem;
            border-right: 0;
            float: right;
            //height: 33em;
            font-size: small;
            font-weight: 400;
            overflow-y: auto;
            margin-right: -2rem;
            padding: 2rem 1rem 2rem 1rem;
            width: 33%;
        }
        article {
            clear: left;
            float: left;
            width: 66%;

            hr {
                border-bottom: 1px solid $blu;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
