// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* HARBOR / Show */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@include keyframes(throb) {
    33% { opacity: 1.0; }
    44% { opacity: 0.4; }
    55% { opacity: 0.6; }
    66% { opacity: 0.4; }
    77% { opacity: 1.0; }
}
.blur {
    @include filter( blur(3px) );
    @include transition(all 0.5s ease-in-out);
}
.home .slideshow ._projector {
    &.iS-port {
        height: 29rem;

        img {
            height: 100%;
        }
    }
}
.page .slideshow ._projector {
    &.iS-port {
        height: 25rem;

        img {
            height: 115%; // compensate (.home vs .page) for iS-port
        }
    }
}
.harbor .slideshow {
    padding: 0;

    * {
        z-index: 1;
    }
    h2 {
        left: 2rem;
        position: absolute;
        text-shadow: -1px -2px 1px rgba(255, 255, 255, 0.25);
        top: 0.8rem;
        z-index: 9;
    }
    .flow {
        position: absolute;
        max-height: 111px;
        top: -2.5rem;
        width: 100%;
        z-index: 9;
    }
    .surf {
        bottom: -1px;
        position: absolute;
        width: 100%;
    }
    ._projector {
        &.iS-port {
            background-color: $sea;
            width: 100%;
            @include transition(all 0.5s);

            img {
                @include filter( blur(0px) );
                @include transition(all 0.25s ease-in);
                @include transform( translate(1%, 0) scaleX(1.02) );
            }
            &.scrolling {
                img {
                    @include filter( blur(2px) );
                    @include transform( translate(-0.5%, 0) scaleX(1.015) );
                    opacity: 0.9;
                }
            };
            &.normal {
                .iS-peg {
                    background-color: $red;
                    @include animation(throb 3s ease-in-out infinite);

                    &:hover {
                        background-color: green;
                    }
                }
            }
        }
        .iS-proxy {
            background-color: rgba(255, 255, 255, 0.5);
            background-image: url(../images/shapes/pegs.png);
            background-repeat: repeat-x;
            border: 5px solid rgba(255, 255, 255, 0);
            border-radius: 4px;
            bottom: 1.5rem;
            box-sizing: content-box;
            height: 14px;
            position: absolute;
            left: 2.25rem;
            width: 19px * $count - 5px;
            z-index: 9;

            .iS-peg {
                background-color: $sea;
                border-radius: 2px;
                height: 100%;
                left: 0;
                position: absolute;
                width: 14px;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
