// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* HARBOR / Wrap */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Flood {
    background-image: url("../images/bkgr/12173454-marina-at-sunset.jpg") ;
    @include background-size( cover );
    -ms-behavior: url("../images/backgroundsize.htc");
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}
#Body {
    $frost: rgba(255, 255, 255, 0.3);
    background-color: $frost;
    .msie & {
        @include backTrans($frost, -0.1);
    }
    margin: 1rem auto;
    max-width: 69.9rem;
    min-width: 57rem;
    padding: 2.5rem 1.25rem 0.75rem;
    width: 98%;

    nav.sub-top, nav.sub-bot {
        color: white;
        text-align: right;
        text-shadow: 0 0 3px black;

        a {
            color: white;

            &:before {
                color: white;
                content: '|';
                padding: 0 1em;
                text-shadow: 0 0 3px black;
            }
            &:first-child:before {
                content: '';
            }
            &:hover {
                color: $red;
                text-shadow: 0 0 9px white;
            }
        }
        &.sub-top {
            text-transform: uppercase;
        }
        &.sub-bot {
            padding-top: 1rem;
        }
        .disc {
            float: left;
        }
    }
}
#Body.fixed {
    header {
        margin-top: -99px;
        position: fixed;
        top: 90px;
        .msie & { top: 0; margin-top: 0; }
    }
    nav.sub-top {
        top: 1rem;
        z-index: 12;

        a {
            color: $blu;
            text-shadow: 0 0 3px black;
            font-weight: 600;
            text-shadow: none;

            &:before {
                color: $blu;
                text-shadow: none;
            }
            &:hover { color: $red; }
        }
    }
    #Programs {
        top: 1.5rem;
    }
    #___gcse_0 {
        display: none;
    }
}
#Wrap {
    background-color: white;
    padding: 0.7rem;
}
#Main {
    * {
        @include defani;
    }
    border: 2px solid $sky;
    border-radius: 1rem;
    margin-bottom: 8rem;
    padding-bottom: 1rem;
    padding-top: 7rem;

    :not(.msie) & {
        @include skygrad();
    }
    .msie & {
        background: white;
        @include background-size( cover );
        -ms-behavior: url("../images/backgroundsize.htc");
        background-image: url("../images/bkgr/ie-grad.png");
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
