// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* HARBOR / Wrap */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Flood {
    background-image: url("../images/bkgr/Brighton-Marina.jpg");
    background-size: cover;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}
#Body {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 1rem auto;
    max-width: 70rem;
    min-width: 57rem;
    padding: 0.75rem 1.25rem;
    width: 98%;

    > nav {
        color: white;
        text-align: right;

        a {
            color: white;
            text-shadow: 0 0 3px black;

            &:before {
                color: white;
                content: '|';
                padding: 0 1em;
                text-shadow: 0 0 3px black;
            }
            &:first-child:before {
                content: '';
            }
            &:hover {
                color: $red;
                text-shadow: none;
            }
        }
        &.sub-top {
            padding-bottom: 0.5rem;
            text-transform: uppercase;
        }
        &.sub-bot {
            padding-top: 1rem;
        }
        .disc {
            float: left;
        }
    }
}
#Wrap {
    background-color: white;
    padding: 0.7rem;
}
#Main {
    @include skygrad();
    border: 2px solid $sky;
    border-radius: 1rem;
    margin-bottom: 8rem;
    padding-bottom: 1rem;
    padding-top: 8rem;

    .msie & {
        background: white;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
