* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    position: absolute;
    width: 100%;
}
body {
    background-image: url('.');
    background-size: cover;
    font-family: sans-serif;
    height: 100%;
    position: relative;
    width: 100%;
}
#Page {
    background-color: rgba(255,255,255,0.9);
    border: 1px solid rgba(111,111,111, 0.4);
    border-bottom: 2px solid red;
    box-shadow: 0px 0px 11px rgba(0,0,0,0.3);
    margin: auto;
    max-width: 1500px;
    min-width: 1000px;
    min-height: 750px;
    position: relative;
    width: 80%;
}
footer {
    background-color: rgba(13,24,67,0.7);
    border-top: 1px solid gray;
    bottom: 0;
    color: white;
    font-family: sans-serif;
    font-size: x-small;
    position: fixed;
    padding: 1.3em;
    width: 100%;
    vertical-align: -webkit-baseline-middle;
}
footer div {
    max-width: 1500px;
    margin: auto;
    min-width: 960px;
    width: 80%;
}
header {
    background-color: white;
    border-bottom: 2px solid red;
    border-top: 1px solid red;
    color: darkblue;
    width: 100%;
}
header nav {
    float: right;
    margin: 1em 0;
}
header nav a {
    color: rgba(55,55,99,0.8);
    border-left: 1px solid rgba(55,55,99,0.8);
}
nav {
    float: right;
}
nav * {
    padding: 2px 1em;
}
nav a {
    color: white;
    border-left: 1px solid white;
    float: left;
    text-decoration: none;
}
nav a:hover {
    background-color: white;
    color: rgba(55,55,99,0.8);
}

nav a:first-child {
    border-left: none;
}
p {
    margin: 0.8em 0;
}
