section {
    clear: both;
    padding: 1.5em;
    position: relative;
}
article {
    background-color: rgba(222,222,222,0.2);
    padding: 0.5em 1.5em;
    width: 48%;
    float: left;
}
body {
    background-image: url('../images/harbor.jpg');
}
section nav {
    background-color: rgba(55,55,99,0.8);
    height: 22px;
    padding: 0 1em;
    position: absolute;
    right: 5px;
    top: 1px;
    width: 50%;
}
