// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* ADHOC / Misc */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.hide {
    display: none;
}
.button {
    cursor: pointer;
}
.loading {
    display: none;
}
.clearfix {
    @include clearfix();
}
.msie {
    body {
        line-height: 150%;
    }
    h1, h2, h3 {
        font-family: "archer-bold";
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
