// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* ROTO / Base */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.iS-port {
    $height: $fullsize;
    $width: $fullsize / $count;

    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: center;

    .iS-view {
        height: 100%;
        position: relative;
        width: $fullsize * $count;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);transform: translateZ(0);
        -webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
        -webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;-o-text-size-adjust: none;text-size-adjust: none;

        & > * {
            background-color: #eee;
            background-size: 100% 100%;
            cursor: -webkit-grab;
            float: left;
            height: $height;
            position: relative;
            width: $width;
        }
    }
    .iS-proxy {
        cursor: pointer;
        height: 1em;
        position: absolute;
        width: 5em;

        .iS-peg {
            background-color: red;
            height: 1em;
            position: relative;
            width: 1em;
        }
    }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
